

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Poppins;
  background-color: #f8f8f8;
}

header {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
}

#registration {
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px auto;
}

#registration h2 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 3px;
  border: 1px solid gray;
  border-radius: 5px;
}

.btns {
  padding: 3px;
  border-radius: 5px;
  color: white;
  background-color: rgb(131, 118, 118);
}

.btns:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transform: scale(1.05);
  transition: 0.3s ease;
}

.library {
  max-width: 1200px;
}

main {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

section {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
}

.container {
  display: grid;
  gap: 15px;
}

.book-card {
  background: gray;
  text-align: center;
  border-radius: 10px;
}

.book-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

#addFavBtn {
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}